<!DOCTYPE html>
<html>

	<head>
		<title>Angular 101</title>
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>

	<body ng-app="funWithStuff">
		<h1>Welcome to the Magic.</h1>
<!-- 		<input type="text" ng-model="coolBinding" placeholder="This input is bound to...">
		<span>this: {{coolBinding.toUpperCase()}}</span> -->

<!-- 		<p>{{"Angular" + "js".toUpperCase()}}</p>

		<p>{{a = 5}} here is still</p>
		<p>that value here? Yup {{a}}</p>

		<p>{{a}} remains five? Nope: {{a = 3}}</p>

		<p>{{alert("Hello")}} no alert, but doesn't break!</p>

		<p>There {{count = 4; (count == 1 ? "is " : "are ") + count}} of them</p> -->

<!-- 		<p ng-init="allowed = false">
			The secret Code is
			<span ng-show="allowed">0123</span>
			<span ng-hide="allowed">not for you to see</span>
			<br/>
			<input type="button" value="toggle" ng-click="allowed = !allowed">
		</p> -->

<!-- 		<p ng-controller="MessageController">
			{{ message }}
		</p>

		<p ng-controller="CountController">
			There are {{ count() }} months in a year.
		</p>

		<div ng-controller="SecondNameController">
			<p>
				Outside the scope: {{name}}
				In another scope: <span >{{name}}</span>
			</p>
			<p ng-controller="NameController">
				Inside the scope: {{ name }}<br/>
				Will this work? {{wow}}<br/>

			</p>
		</div> -->

		<div ng-include="'partials/header.html'"></div>

		<div ng-view></div>



		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
		<script src="app.js"></script>
	</body>

</html>