extends index
block content
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias aperiam provident tenetur officiis fuga quos ipsum impedit facilis accusantium eos, quo tempora, deleniti laboriosam nulla ab architecto laudantium dolor libero!
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias aperiam provident tenetur officiis fuga quos ipsum impedit facilis accusantium eos, quo tempora, deleniti laboriosam nulla ab architecto laudantium dolor libero!
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias aperiam provident tenetur officiis fuga quos ipsum impedit facilis accusantium eos, quo tempora, deleniti laboriosam nulla ab architecto laudantium dolor libero!
